@layout('emails/layouts/master')
@section('main')
    <h2>{{ subject }}</h2>
    <p>Hi {{ user.name }},</p>
    <p>Your password has been changed successfully!</p>
    <p>Thanks,<br>{{ process.env.APP_NAME }}</p>
@endsection