@layout('emails/layouts/master')
@section('main')
    <h2>{{ subject }}</h2>
    <p>Hi {{ user.name }},</p>
    <p>We got a request to reset your {{ process.env.APP_NAME }} password.</p>
    <p>Your verification code : <strong>{{ otp }}</strong></p>
    <p>If you didn't request, please ignore this email.</p>
    <p>Thanks,<br>{{ process.env.APP_NAME }}</p>
@endsection
