<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
</head>
<body>

<div>
    Hi {{user.name}},
    <br>
    Your verification code is: <strong>{{verification_code}}</strong>
</div>

</body>
</html>